<h1>
    ✏️
    <span *ngIf="editMode">Editar </span>
    <span *ngIf="!editMode">Nuevo </span>
    Héroe
</h1>
<mat-divider class="mb-2"></mat-divider>

<div class="grid h-full">
    <div class="sm:col-12 md:col-6">
        <mat-card class="h-full">
            <mat-card-content>

                <form class="grid" [formGroup]="heroFrom" (ngSubmit)="onSubmit()">
                    <mat-form-field class="col-12 sm:col-6" color="accent" appearance="outline">
                        <mat-label>Super Héroe</mat-label>
                        <input matInput type="text" required formControlName="superhero">
                    </mat-form-field>

                    <mat-form-field class="col-12 sm:col-6" color="accent" appearance="outline">
                        <mat-label>Alter Ego</mat-label>
                        <input matInput type="text" required formControlName="alterEgo">
                    </mat-form-field>

                    <mat-form-field class="col-12" color="accent" appearance="outline">
                        <mat-label>Primera Aparición</mat-label>
                        <input matInput type="text" required formControlName="firstApparence">
                    </mat-form-field>

                    <mat-form-field class="col-12" color="accent" appearance="outline">
                        <mat-label>Personajes</mat-label>
                        <input matInput type="text" required formControlName="characters">
                    </mat-form-field>

                    <mat-form-field class="col-12" color="accent" appearance="outline">
                        <mat-label>Editor</mat-label>
                        <mat-select required formControlName="publisher">
                            <mat-option *ngFor="let publisher of publishers" [value]="publisher">
                                {{ publisher }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-12" color="accent" appearance="outline">
                        <mat-label>Imágen alternativa</mat-label>
                        <input matInput type="text" required formControlName="altImage">
                    </mat-form-field>
                </form>

                <div class="flex justify-content-between">
                    <button mat-button color="warn">Limpiar</button>

                    <button mat-button color="accent" (click)="onSubmit()">
                        <mat-icon>save</mat-icon>
                        Guardar
                    </button>
                </div>

            </mat-card-content>
        </mat-card>
    </div>

    <div class="sm:col-12 md:col-6 lg:col-5">
        <img mat-card-image [src]="currentHero | heroImage" [alt]="currentHero.superhero"
             style="width: 100%; height: 100%">
    </div>

</div>
