/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
    flex: 1 1 auto;
}

.full-height-image {
    height: calc(100vh - 200px);
    object-fit: fill;
}

.card-img {
    height: 100px;
    object-fit: cover;
}
